<div class="container">
	<div class="header">
		<a href="/favorites"> Go to my saved list </a>
		<a href="/comments"> Send feedback </a>
		<% if user_signed_in? %>
			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
		<% else %>
			<%= link_to "Log in", new_user_session_path %>
		<% end %>
	</div>
	<h2>The top places to stand in line right now</h2>

	<% rank = 1 %> 
	
	<% @venues.each do |v| %>
		<div class="results">
			<div id="rank">
				<%= rank %>
			</div>

			<div class="result">
				<div class="current_checkins">
					<p>Current <br>
						Check-ins</p>
					<p><%= v["hereNow"]["count"] %></p>
				</div>
				<div class="venue_details">
					<div><img src="<%= v["categories"][0]["icon"] %>"></div>
					<p><a href= "<%= v["canonicalUrl"] %>" target="blank"><%= v["name"] %></a></p>
					<p><%= v["location"]["address"] %></p>
					<p>Total Check-ins: <%= v["stats"]["checkinsCount"] %></p>
				</div>

				<% if user_signed_in? && Place.find_by_foursquare_id(v["id"]).present? %>
						<p id="save">saved!</p>
					<% else %>
						<div>
							<%= form_tag(results_path, :method => "post") do %>
				     	<input type='hidden' value="<%= v["id"] %>" name='foursquare_id'/>
				     	<input type='hidden' value="<%= @address %>" name="address">
				     	<button type="submit" id="save">save</button> 
				   	 	<% end %>
						</div>	
				<% end %>
			</div>
			<% rank += 1 %>
		</div>
	<% end %>
</div>