<div class="container">
	<a href="/favorites"> My Saved List </a>
	<%= link_to('Logout', destroy_user_session_path, :method => :delete, :id => "logout") %>
	
	<h2>The top places to stand in line right now</h2>
	
	<div>
		<% now = Time.now %>
		<%= now.strftime("%A, %h #{now.day.ordinalize}") %>
	</div>

	<% rank = 1 %> 
	
	<% @venues.each do |v| %>
		<div>
			<%= rank %>
			<div class="results">
				<img src="<%= v["categories"][0]["icon"] %>">	
				<%= v["name"] %> 
				<%= v["location"]["address"] %> 
				<%# v["categories"][0]["id"] %>
				<%# v["categories"][0]["name"] %>
				Total Check-Ins <%= v["stats"]["checkinsCount"] %>
				<%= v["hereNow"]["count"] %> current check-ins.
				<div>
					<%= form_tag(results_path, :method => "post") do %>
		     	<input type='hidden' value="<%= v["categories"][0]["id"] %>" name='place[foursquare_id]'/>
		     	<input type='hidden' name="address" value="<%= @address %>">
		     	<button type="submit">Save</button> 
		   	 	<% end %>
		   	 	<a href= "<%= v["canonicalUrl"] %>" target="blank"> Details </a><br>
				</div>	
			</div>
			<% rank += 1 %>
		</div>
	<% end %>
</div>
