<div class="container">
	<h2>Tell us about yourself</h2>
	<div class="rule_yellow" style="width:290px"></div>
	<div class="rule_white" style="width:290px"></div>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-inline"}) do |f| %>
	  <%= devise_error_messages! %>

	   <div>
	  <%= f.text_field :first_name, :autofocus => true, :placeholder => 'First name', :class => "input-xlarge" %></div>

	   <div><br />
	  <%= f.text_field :last_name, :autofocus => true, :placeholder => 'Last name', :class => "input-xlarge" %></div>

	  <div><br />
	  <%= f.email_field :email, :autofocus => true, :placeholder => 'Email address', :class => "input-xlarge" %></div>

	  <div><br />
	  <%= f.password_field :password, :placeholder => 'Password', :class => "input-xlarge" %></div>

	  <div><br />
	  <%= f.password_field :password_confirmation, :placeholder => 'Password one more time', :class => "input-xlarge" %></div><br />

	  <div><%= f.submit "Sign up", :class => "btn_blue", :style => "width:288px" %></div>
	<% end %>
</div>
