<div class="container">
	<h2>Forgot your password?</h2>
	<div class="rule_yellow" style="width:670px"></div>
	<div class="rule_white" style="width:670px"></div>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-inline"}) do |f| %>
	  <%= devise_error_messages! %>

	  <%= f.email_field :email, :autofocus => true, :placeholder => 'Email address', :class => "input-xlarge" %>
		<%= f.submit "Send me reset password instructions", :class => "btn_blue" %>
	<% end %>

	<%= render "devise/shared/links", :style => "margin-left:790px" %>
</div>